doctype html
html
    head
        title="Concourse Pipelines Dashboard"
        link(rel='stylesheet' href='css/overview.css')
        meta(http-equiv="refresh" content="10")
    body
        div(class='errors ' + errors.display)
            h2()='Server error:'
            div()=errors.message
        .container
                each pipeline in pipelines
                    div(class='box ' + pipeline.display)
                        ul(class='pipeline ' + pipeline.status)
                            a(href=config.concourse_url + pipeline.url)
                                span(class='default-link')
                            li(class='title')
                                p()=pipeline.name
                                each buildStep in pipeline.buildSteps
                                    div(class='build-step ' + buildStep.status)=buildStep.name
                        div(class='version ' + pipeline.newversion + ' ' + pipeline.displayVersion)=pipeline.buildVersion
        .footer
            | Last Updated:
            script(type='text/javascript').
                document.write(new Date().toTimeString());
